body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a4a4a5;
}

header {
    background-color: #000000;
    color: rgb(0, 255, 242);
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

form {
    margin-bottom: 1rem;
}

form input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 3px solid #070707;
    display: block;
}

form button {
    padding: 0.5rem;
    background-color: #696a6b;
    color: rgb(0, 255, 242);
    border: 3px solid #000000;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem;
    background-color: #808b96;
    margin-bottom: 0.5rem;
    border: 2px solid #0ae0e7;
}

footer {
    background-color: #000000;
    color: rgb(0, 255, 242);
    text-align: center;
    padding: 1rem;
}